.container{
    background-image: url('/assets/home/background-home-desktop.jpg');
    position: absolute;
    top: 0;
    /* background-color: #111827; */

}

@media (max-width: 320px) { }

@media (max-width: 480px) { 
    .container{
        background-image: url('/assets/home/background-home-mobile.jpg');
    }
}

@media (max-width: 820px) {
    .container{
        background-image: url('/assets/home/background-home-tablet.jpg');
    }
}

@media (max-width: 1024px) { }

@media (max-width: 1280px) { }