.header{
    /* background-color: red; */
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 840px;
}

nav{
    margin-top: 60px;
}

.nav-underline {
  position: relative;
  display: inline-block;
}
.nav-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -37px; /* adjust as needed */
  height: 3.5px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.nav-underline:hover::after {
  background: #9ca3af;
  opacity: 1;
}

.nav-underline.active::after{
    background: white;
    opacity: 1;
}


@media(max-width: 480px) {

  .line{
    display: none;
  }

}
  

@media(max-width: 820px) {

  .line{
    display: none;
  }

}

/* Tablet (landscape) / small desktop */
/* @media (max-width: 1024px) { 
  .line{
    max-width : 580px;
  }

} */

 
  /* Large desktop */
@media (max-width: 1280px) { 
   .line{
    width:  340px;
  }
}

  /* Large desktop */
/* @media (max-width: 1820px) { 
  .line{
   min-width: clamp(200px, 100vw, 840px);
  }
} */



@media (max-width: 820px), (max-width: 480px) {
  .line {
    display: none;
  }
}


