.crewContainer{
    background-image: url('/assets/crew/background-crew-desktop.jpg');
    position: absolute;
    top: 0;
    /* background-color: #111827; */
    
}

@media (max-width: 320px) { }

@media (max-width: 480px) { 
    .container{
        background-image: url('/assets/crew/background-crew-mobile.jpg');
    }
}

@media (max-width: 768px) {
    .container{
        background-image: url('/assets/crew/background-crew-tablet.jpg');
    }
}

@media (max-width: 1024px) { }

@media (max-width: 1280px) { }